<section class="teachers">
  <div class="container">
    <div class="filters-container">
      <div class="filters-row">
        <div class="filters-list">
          <p class="filters-text">Languages</p>
          <div class="filters-lang">
            <div class="select-wrapper">
              <!-- <input type="text" name="filters-lang" id="" class="" placeholder=""> -->
              <label for="languages">
                <select name="languages" id="languages" class="studies">
                  <option value="">French</option>
                  <option value="">English</option>
                  <option value="">German</option>
                  <option value="">Ukrainian</option>
                  <option value="">Polish</option>
                </select>
              </label>
            </div>
          </div>
        </div>

        <div class="filters-list">
          <p class="filters-text">Level of knowledge</p>
          <div class="filters-level">
            <div class="select-wrapper">
              <select name="level" id="level" class="studies">
                <option value="">A1 Beginner</option>
                <option value="">A2 Elementary</option>
                <option value="">B1 Intermediate</option>
                <option value="">B2 Upper-Interme...</option>
              </select>
            </div>
          </div>
        </div>

        <div class="filters-list">
          <p class="filters-text">Price</p>
          <div class="filters-price">
            <div class="select-wrapper"></div>
            <select name="select-price" id="select-price" class="studies">
              <option value="">30 $</option>
              <option value="">10 $</option>
              <option value="">20 $</option>
              <option value="">40 $</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SECTION TUTOR 1-->
<section class="tutors-section">
  <div class="container">
    <div class="tutors">
      <div class="tutors-box">
        <div class="tutor-avatar" data-index="1"></div>
      </div>

      <ul class="tutor-list">
        <li class="tutor-card" data-index="1">
          <div class="tutor-data">
            <div class="tutor-lang-name">
              <p class="tutor-text">Languages</p>
              <h2 class="tutor-name">Jane Smith</h2>
            </div>
            <div class="tutor-info">
              <div class="tutor-item">
                <img
                  src="./assets/img/book-open.svg"
                  alt="book icon"
                  width="16"
                  height="16"
                />
                <h3 class="tutor-details">Lessons online</h3>
                <img src="./assets/img/VerticalLine.svg" alt="vertical line" />
                <div class="tutor-les">
                  <div class="tutor-det">
                    <h3 class="tutor-details">Lessons done: 1098</h3>
                  </div>
                </div>
                <div class="tutor-star">
                  <img
                    src="./assets/img/VerticalLine.svg"
                    alt="vertical line"
                  />
                  <img
                    src="./assets/img/star.svg"
                    alt="star icon"
                    width="16"
                    height="16"
                  />
                  <h3 class="tutor-details">Rating: 4.8</h3>
                  <img
                    src="./assets/img/VerticalLine.svg"
                    alt="vertical line"
                  />
                </div>
                <div class="tutor-price">
                  <h3 class="tutor-details">
                    Price / 1 hour: <span class="price">30$</span>
                  </h3>
                </div>

                <div class="heart">
                  <img
                    src="./assets/img/Vector.svg"
                    alt="heart icon"
                    width="26"
                    height="26"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="tutor-rating"></div>

          <div class="tutor-description">
            <div class="">
              <div class="tutor-row">
                <p class="tutor-text">Speaks:</p>
                <div class="tutor-decor">
                  <h3 class="tutor-details">German, French</h3>
                </div>
              </div>
            </div>

            <div>
              <div class="tutor-lesson">
                <p class="tutor-text">Lesson Info:</p>
                <h3 class="tutor-details">
                  Lessons are structured to cover grammar, vocabulary, and
                  practical usage of the language.
                </h3>
              </div>
            </div>

            <div class="tutor-conditions">
              <p class="tutor-text">Conditions:</p>
              <h3 class="tutor-details">
                Welcomes both adult learners and teenagers (13 years and above).
                Provides personalized study plans
              </h3>
            </div>
          </div>

          <!-- READ_MORE	-->

          <div class="tutor-read" data-index="1">
            <span class="read-more-btn" id="readMoreBtn1"></span>
            <a href="#" class="read-more-btn">Read more</a>
          </div>

          <div class="tutor-read">
            <div class="tutor-readmore" id="readMoreSection1">
              <p>
                <span class="read-more-text">
                  Jane is an experienced and dedicated language teacher
                  specializing in German and French. She holds a Bachelor's
                  degree in German Studies and a Master's degree in French
                  Literature. Her passion for languages and teaching has driven
                  her to become a highly proficient and knowledgeable
                  instructor. With over 10 years of teaching experience, Jane
                  has helped numerous students of various backgrounds and
                  proficiency levels achieve their language learning goals. She
                  is skilled at adapting her teaching methods to suit the needs
                  and learning styles of her students, ensuring that they feel
                  supported and motivated throughout their language
                  journey.</span
                >
              </p>

              <div class="tutor-response">
                <div class="tutor-info-small">
                  <div class="tutors-box-resp">
                    <div class="tutor-avatar-small">
                      <img
                        src="./assets/img/img-small/Frank.jpg"
                        alt="photo of Frank"
                      />
                    </div>
                    <div class="tutor-data-small">
                      <p class="tutor-text">Frank</p>
                      <div class="tutor-info-sm">
                        <div class="tutor-star">
                          <img
                            src="./assets/img/star.svg"
                            alt="star icon"
                            width="16"
                            height="16"
                          />
                          <h4 class="tutor-details-rating">4.0</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tutor-desc-small">
                    <p class="tutor-resp">
                      Jane's lessons were very helpful. I made good progress.
                    </p>
                  </div>
                </div>

                <div class="tutor-info-small">
                  <div class="tutors-box-resp">
                    <div class="tutor-avatar-small">
                      <img
                        src="./assets/img/img-small/Eve.jpg"
                        alt="photo of Eve"
                      />
                    </div>
                    <div class="tutor-data-small">
                      <p class="tutor-text">Eve</p>
                      <div class="tutor-info-sm">
                        <div class="tutor-star">
                          <img
                            src="./assets/img/star.svg"
                            alt="star icon"
                            width="16"
                            height="16"
                          />
                          <h4 class="tutor-details-rating">5.0</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tutor-desc-small">
                    <p class="tutor-resp">
                      Jane is an amazing teacher! She is patient and supportive.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tutor-tags">
            <ul class="tutor-tags-info">
              <li class="tutor-tags-row">
                <button type="button" class="tutor-btn">#A1 Beginner</button>
                <button type="button" class="tutor-btn">#A2 Elementary</button>
                <button type="button" class="tutor-btn">
                  #B1 Intermediate
                </button>
                <button type="button" class="tutor-btn">
                  #B2 Upper-Intermediate
                </button>
              </li>
            </ul>
          </div>

          <span class="">
            <div class="button-trial-lesson">
              <button type="submit" class="book-button" data-modal-open>
                Book trial lesson
              </button>
            </div>
          </span>
          <!-- /READ_MORE	-->
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- /SECTION TUTOR 1 -->
